<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>熊野寮祭2021</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/あじり.png" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Personal - v4.3.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>


  


    <!-- ======= About Me ======= -->
    <div class="about-me2">

      <div class="section-title">
        <h2>企画一覧</h2>
        <p>１１月２６日の企画</p>
        
     <li><a href="../#about">ホームへ戻る</a></li>
      </div>
      
     <div class="row">
      <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src="/static/img/main.jpg" alt="クマスマのイメージ画像">
          <div class="card-body">
            <h4 class="card-title">クマスマ</h4>
            <p class="card-text">スマブラ最強を決める。</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src="/static/img/main.jpg" alt="焼肉のイメージ画像">
          <div class="card-body">
            <h4 class="card-title">焼肉</h4>
            <p class="card-text">焼き肉をする。</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src="/static/img/main.jpg" alt="フットサルのイメージ画像">
          <div class="card-body">
            <h4 class="card-title">フットサル大会</h4>
            <p class="card-text">フットサルのトーナメント。</p>
          </div>
        </div>
      </div>
      
      
     <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src="/static/img/main.jpg" alt="クマスマのイメージ画像">
          <div class="card-body">
            <h4 class="card-title">クマスマ</h4>
            <p class="card-text">スマブラ最強を決める。</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src="/static/img/main.jpg" alt="焼肉のイメージ画像">
          <div class="card-body">
            <h4 class="card-title">焼肉</h4>
            <p class="card-text">焼き肉をする。</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src="/static/img/main.jpg" alt="クマスマのイメージ画像">
          <div class="card-body">
            <h4 class="card-title">クマスマ</h4>
            <p class="card-text">スマブラ最強を決める。</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src="/static/img/main.jpg" alt="焼肉のイメージ画像">
          <div class="card-body">
            <h4 class="card-title">焼肉</h4>
            <p class="card-text">焼き肉をする。</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src="/static/img/main.jpg" alt="フットサルのイメージ画像">
          <div class="card-body">
            <h4 class="card-title">フットサル大会</h4>
            <p class="card-text">フットサルのトーナメント。</p>
          </div>
        </div>
      </div>
      
  
    </div>
</div>
</div>
    </div>
  <!-- End About Section -->


<div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/purecounter/purecounter.js"></script>  
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>


</html>
