<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>熊野寮祭2021</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/アイコン.jpg" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Personal - v4.3.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <div class="column container">
      <div class="section-title">
        <h2>コラム</h2>
        <p>熊野寮祭とは</p>
      </div>
      
      <a>文責：2019年度寮祭実長　はん
<p>気づけば、あれから二年たって、三回生になった。
二年という歳月を経て、僕という人は結構変わってしまったと思う。
「尖って、攻めていられるのも一、二回生の間だけだよ」
誰にかは忘れたがそんなことを一回生の時言われた記憶がある。
「そんなわけないだろ。なめてんじゃねーぞ」
その時は思っていた。
しかしその勢いもどこ吹く風、僕も例に漏れず、最近変な方向に落ち着き、型通りにはまってしまったような感じがする。
理由はいくつかあると思うが、上に行けばいくほど、言動が僕という人格と切り離されてニュートラルな意見として考えられなくなったということが大きいのだと思う。「あいつがこう言ってる」の「あいつが」という点に焦点が当てられるようになった。生じた責任に対して日和ることが多くなった。
対して、今年の寮祭を仕切っている一回生の様子を見ると、彼ら・彼女らは全然日和ってないように感じる。「寮祭を取り仕切る、作り上げる」という引き受けた仕事に伴う責任から逃れることなく、想像を絶するような苦労をしつつも、新しいことに果敢に挑戦し、議論を積み重ね、互いに協力し、それでいてとことん楽しんでやろうという気概まで感じる。そんな一回生たちが作る寮祭は、実は冷めきってしまった僕にとってもとても魅力的だ。
最近ハマっている言葉に、
「日和ってるやついる？いねえよな！」
　というのがある。とある漫画の有名なセリフだ。
これが少数意見を抑圧するハラスメントとして使われれば問題だが、僕はこれを自己批判の文脈で積極的に使っていきたいと思っている。
　自分の限界や他人の目線を過度に気にして、身動きがとれなくなっている人は僕の他にもかなりいるんじゃないかと思う。そうした人たちにとって、今年の寮祭は特に、はじめ衝撃的なものであるにせよ、どこかしら惹かれるものとなるであろう。

「寮祭期間中なのに、日和ってる俺いる？いねえよな！」

ということで、僕も寮祭期間中は日和らずはっちゃけます！皆さんも寮祭期間中ぜひ一度遊びに来てくださいね！
</p></a>
<p> <a href="#" onclick="history.back(-1);return false;">ホームに戻る</a></p>
  </div>
</body>  


    

<div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/purecounter/purecounter.js"></script>  
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>


</html>
