<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>熊野寮祭2021</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/アイコン.jpg" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Personal - v4.3.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <div class="column container">
      <div class="section-title">
        <h2>コラム</h2>
        <p>熊野寮祭とは</p>
      </div>
      
      <a>文責：2021年度寮祭実長　浮腫（ふしゅ）
<p>熊野寮祭とは何か、僕は分からない。一回生の僕は入寮してからここで過ごして漸く半年になる。まだ熊野寮祭を体験したことがないのだから、熊野寮祭が何か分からない。熊野寮祭とは何か。先輩曰く「熊野寮祭は人生」だそうだ。人生が何か分からないのだから、熊野寮祭が何か分からない。熊野寮祭では何をやるのか。2018年の熊野寮ブログ曰く、「案ずるより生むが易し！！」だそうだ。どうやら分かろうと案じても、分からないらしい。熊野寮祭について、何も分からない。ただ、熊野寮祭を語る人はみな楽しそうにしている。これで十分ではないか。楽しそうだけどよく分からないこと、分かってみたい、楽しんでみたい。はじめから分かっていることなど、やっても仕方がない。分からないことを楽しそうだと思って、とりあえずやってみる。
思い返せば、僕は人生の中で何回もこの祈りに近い行動を繰り返している。いつからかどこにも行けないような感覚が常にあった。自分が求めている場所はどこにもないのではないかと思い込み続けていた。これは今も続いてる。だって、元気良くただいまと開ける家のドアも、クラスメイトに会いたい一心でおはようと開ける教室のドアも、そういった類のドアが一つもない日々を過ごしていたのだから仕方がないでしょ。そんなこんなで、ドラえもんのいない22世紀でも、どのドアだってどこにでもいけるはずのドアなのに、どこにも行けないような気がしていた。どこかに行けばという祈りは焦りに変わり、よく分からないことに一蓮托生の願いをかけてきた。中学生の時には青春18切符で日本縦断してみたし、高校生の時には昼休みに学校を抜けてトロッコではなく東海道線で終点の熱海まで行ったし、城崎に行けば自分も生きる使命感を感じるだろうと信じて大学生の時は買いたてのスーパーカブで城崎温泉へ行った。けれど、稚内についても枕崎より寒いなくらいしか思わなかったし、熱海についても帰りが不安になる事もなかったし、城崎では蜂もねずみもいもりも出会わなかった。他にも物理的だけではない遠くの世界に何度も出向いてみた。結果は同じだった。こうして何度も祈っては悲しんでを繰り返してきて、流石にそろそろ諦めてきてしまった。どうか祈るために合わせているこの両手の間に何かが残って欲しい。そんな祈りが今は熊野寮と熊野寮祭に向いている。寮祭期間の毎日、僕は部屋のドアをそんな祈りと少しの不安とともに開けるだろう。どうかその祈りが叶う場所であって欲しい。我儘で捻くれてて面倒臭いけど、これが僕なりの熊野寮祭への思いです。（キモい人間なのでキモい文章しか書けないごめんなさい。楽しいお祭りになって楽しめればそれで満足です。）
</p></a>
<p> <a href="#" onclick="history.back(-1);return false;">ホームに戻る</a></p>

</body>  


    

<div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/purecounter/purecounter.js"></script>  
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>


</html>
