<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>熊野寮祭2021</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/アイコン.jpg" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Personal - v4.3.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <div class="column container">
      <div class="section-title">
        <h2>コラム</h2>
        <p>会計から</p>
      </div>
      
      <a>「万事は会計に通ず。」

　さて、筆を起こしたのはいいのだが、筆者は太平洋上にてフェリーに揺られている。故に平衡感覚が狂って変な文を書くだろうが、某Sも船中八策なるものを作ったらしいので、なんとかなるだろう。
　唐突だが、筆者が会計を好む理由はなんだろうか。
　筆者は中高の部において会計関係に3年間程関わっていて、一番馴染みのある役職が会計であったというのがまず第一である。その部において筆者の2つ上の代の会計が大変にやらかしたため、一番よく来る人間を会計にする、ということで会計になったわけである。
　会計というのは、どの内部組織も金を使う以上、会計とは無縁でいられないため、組織の中を横方向に行き来しやすい性質を持ち、組織全体を横から観察することができる。このことが第二の理由である。もちろん長になれば組織全体を上から俯瞰できるわけだが、人の上に乗っかるのは筆者の好みではない。まぁ、高尚な理由ではなく、ほぼ初対面の組織で上に乗っかるのが怖いのだが。ちなみに、筆者は高校時代、会計として組織を主導したことがある。部長があまりに何もしなかったので、会計の性質を活かして横方向にやり取りをし、部員にはかなり自由にやってもらいつつ、達成すべきことは達成した。こういうあり方で長ができるなら、そのうちやってみたいものである。
　第三は筆者に金を気にし過ぎる性質があることである。幼少期に「三崎港」という皿の色で値段が変わる回転寿司に行った時も、食べながら代金の計算をしていたぐらいである。もし私が他の責をやっても、どうしても金の心配をしてしまうだろう。それだったら筆者が会計関係を処理すべきだと思った訳である。
　こんな感じで書いて見たが、読者諸氏は「こんな会計楽しくなさそう」と思うかもしれない。たが、言っておこう。筆者は会計という仕事が好きであり、誇りを持っている。最後に以下の格言をでっち上げ、シメとしたい。
「万事は会計に通ず。」
</p></a>
<p> <a href="#" onclick="history.back(-1);return false;">ホームに戻る</a></p>

</body>  


    

<div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/purecounter/purecounter.js"></script>  
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>


</html>
