<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="google-site-verification" content="NRBQr4ghzFlXLeD7R3-AdL7b2mJlMo9-U_i3Ifojqz8" />

  <title>熊野寮祭2021</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/アイコン.jpg" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Personal - v4.3.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a>熊野寮祭2021</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <h2>１１月２６日～１２月５日</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">ホーム</a></li>
          <li><a class="nav-link" href="#services">お知らせ・コラム</a></li>
          <li><a class="nav-link" href="#about">企画</a></li>
          <li><a class="nav-link" href="#resume">スケジュール</a></li>
          <li><a class="nav-link" href="#portfolio">スポンサー</a></li>
          <li><a class="nav-link" href="#contact">掲示板</a></li>
          <li><a href="https://kumano-ryo.jimdofree.com/" > </a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://twitter.com/kuma_d_fes?s=11" class="twitter"><i class="bx bxl-twitter bx-sm"></i></a>
        <a href="https://www.youtube.com/channel/UChYjuf5nAPSG-pyTG5Gmb1w/featured" class="youtube"><i class="bx bxl-youtube bx-sm"></i></a>
        <a href="https://camp-fire.jp/projects/view/475659" class="cloudfanding"><i class="bx bxs-hot bx-sm"></i></a>
        <a href="https://www.instagram.com/kuma_d_fes/" class="instagram"><i class="bx bxl-instagram bx-sm"></i></a>
        
      </div>
        <a href="https://kumano-ryo.jimdofree.com/" > 熊野寮HPはこちら</a>
  
      
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>企画</h2>
        <p>企画一覧</p>
      </div>
      
      
       
       <div>
     <p><a href="#1126p">１１月２６日の企画を見る</a></p>
     <p><a href="#1127p">１１月２７日の企画を見る</a></p>
     <p><a href="#1128p">１１月２８日の企画を見る</a></p>
     <p><a href="#1129p">１１月２９日の企画を見る</a></p>
     <p><a href="#1130p">１１月３０日の企画を見る</a></p>
     <p><a href="#1201p">１２月１日の企画を見る</a></p>
     <p><a href="#1202p">１２月２日の企画を見る</a></p>
     <p><a href="#1203p">１２月３日の企画を見る</a></p>
     <p><a href="#1204p">１２月４日の企画を見る</a></p>
     <p><a href="#1205p">１２月５日の企画を見る</a></p>
     <p><a href="#alwaysp">常設イベントを見る</a></p>
     <p><a href="#guerrillap">ゲリライベントを見る</a></p>
     </div>
      
  
  
    <div class="row">
     {% block content_block %}
      {% endblock %}
 
     
    </div>
  </section><!-- End About Section -->
  
  
  <!-- ======= resume Section ======= -->
  <section id="resume" class="resume">
  <div class="resume container">

      <div class="section-title">
        <h2 id="s_top">スケジュール</h2>
        <p>日程表(暫定版)</p>
      </div>
      
     <div>
     <p><a href="#1126">１１月２６日のスケジュールを見る</a></p>
     <p><a href="#1127">１１月２７日のスケジュールを見る</a></p>
     <p><a href="#1128">１１月２８日のスケジュールを見る</a></p>
     <p><a href="#1129">１１月２９日のスケジュールを見る</a></p>
     <p><a href="#1130">１１月３０日のスケジュールを見る</a></p>
     <p><a href="#1201">１２月１日のスケジュールを見る</a></p>
     <p><a href="#1202">１２月２日のスケジュールを見る</a></p>
     <p><a href="#1203">１２月３日のスケジュールを見る</a></p>
     <p><a href="#1204">１２月４日のスケジュールを見る</a></p>
     <p><a href="#1205">１２月５日のスケジュールを見る</a></p>
     <p><a href="#always">常設イベントを見る</a></p>
     <p><a href="#guerrilla">ゲリライベントを見る</a></p>
     </div>
   </div>    
  
   <div class="table-responsive">
    <h2 id="1126"><font color="white">１１月２６日(金)</font></h2>
     <table class="text-nowrap">
     <tr><th colspan="7">11月26日(金)</th></td>
    </tr><br>
    <tr><td>0:00</td><td colspan="6">Ｍｙヘルメットを作ろう</td></tr>
    <tr><td>1:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>2:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>3:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>4:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>5:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>6:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>7:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>8:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>9:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>10:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>11:00</td><td colspan="6">つかもとゆうた</td></tr>
    <tr><td>12:00</td><td colspan="6" rowspan="4"><p>時計台コンパ</p><p>・時計〇占拠</p><p>・みんなでおにぎりたべたい</p><p>・弾圧警備員と遊ぼう</p></td></tr>
    <tr><td>13:00</td></tr>
    <tr><td>14:00</td></tr>
    <tr><td>15:00</td></tr>
    <tr><td>16:00</td><td colspan="4" rowspan="4">野外映画</td><td></td><td></td></tr>
    <tr><td>17:00</td><td colspan="2">熊王戦</td></tr>
    <tr><td>18:00</td><td rowspan="4">金融資本家コンパ</td><td rowspan="4">打倒金融資本家コンパ</td></tr>
    <tr><td>19:00</td></tr>
    <tr><td>20:00</td><td rowspan="2">〇〇トッツォ草むしり検定</td><td colspan="3">「お出汁」をいれてるよ</td></tr>
    <tr><td>21:00</td><td rowspan="3">農学部コンパ</td><td rowspan="3">桜トリックオールナイト</td><td>ジャパネット熊野</td></tr>
    <tr><td>22:00</td><td colspan="1" rowspan="2">エクストリーム帰寮</td><td>闇落ち</td><td>最高の夏</td></tr>
    <tr><td>23:00</td><td colspan="2">時計の針と針が出会う時</td></tr>
   </table><br>
   </div>
    
    
    <div class="table-responsive">
    <h2 id="1127"><font color="white">１１月２７日(土)</font></h2>
    <table class="text-nowrap" border="1">
     <tr><th colspan="6">11月27日(土)</th></td>
    </tr><br>
    <tr><td >0:00</td><td colspan="3" rowspan="9">エクストリーム帰寮</td><td rowspan="4">桜トリックオールナイト</td><td>時計の針と針が出会う時</td></tr>
    <tr><td >1:00</td><td></td></tr>
    <tr><td >2:00</td><td></td></tr>
    <tr><td >3:00</td><td></td></tr>
    <tr><td >4:00</td><td colspan="2" rowspan="2">目覚まし亭</td></tr>
    <tr><td >5:00</td></tr>
    <tr><td >6:00</td><td></td><td></td></tr>
    <tr><td >7:00</td><td></td><td></td></tr>
    <tr><td >8:00</td><td></td><td></td></tr>
    <tr><td >9:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >10:00</td><td rowspan="3">鐵道唱歌を歌おう</td><td colspan="2" rowspan="2">アニメのOPでよくあるやつ</td><td></td><td></td></tr>
    <tr><td >11:00</td><td rowspan="2">日陰者コンパ</td><td rowspan="2">鏡文字コンパ</td></tr>
    <tr><td >12:00</td><td rowspan="2">サイゼで１万円使うコンパ</td><td rowspan="4">タテカンワークショップ</td></tr>
    <tr><td >13:00</td><td rowspan="2">ラブライブ！と弁証法</td><td></td><td></td></tr>
    <tr><td >14:00</td><td rowspan="3">アフタヌーンティー</td><td rowspan="2">千本うまい棒</td><td></td></tr>
    <tr><td >15:00</td><td></td><td></td></tr>
    <tr><td>16:00</td><td rowspan="3">オブラートに包む</td><td rowspan="2">ポケモンGO卵孵化RTA</td><td>12人ALGO</td><td></td></tr>
    <tr><td >17:00</td><td></td><td></td><td></td></tr>
    <tr><td >18:00</td><td colspan="2" rowspan="6">全国学寮交流会</td><td colspan="2">忙しい人のための寮祭実</td></tr>
    <tr><td >19:00</td><td rowspan="2">解剖コンパ</td><td colspan="2">お風呂に入らない人コンパ</td></tr>
    <tr><td >20:00</td><td></td><td></td></tr>
    <tr><td >21:00</td><td rowspan="3">麻将皇帝戦</td><td rowspan="3">バーフバリ上映会</td><td></td></tr>
    <tr><td >22:00</td><td>いらすとやタイトル当て</td></tr>
    <tr><td >23:00</td><td>忙しい人のための寮祭実</td></tr>
   </table><br>
   </div>
    
    
 　　<div class="table-responsive">
    <h2 id="1128"><font color="white">１１月２８日(日)</font></h2>
    <table class="text-nowrap" border="1">
     <tr><th colspan="8">11月28日(日)</th></td>
    </tr><br>
    <tr><td >0:00</td><td colspan="3" rowspan="6">全学学寮交流会</td><td rowspan="2" colspan="2">麻将皇帝戦</td><td rowspan="2">バーフバリ上映会</td><td>蒙古タンメン中核</td></tr>
    <tr><td >1:00</td><td></td></tr>
    <tr><td >2:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >3:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >4:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >5:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >6:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >7:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >8:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >9:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >10:00</td><td rowspan="3" colspan="3">イカゲーム</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >11:00</td><td rowspan="5">民青池ティーパーティー</td><td>さとのやと連帯</td><td rowspan="2">寮生を着飾る</td><td>シャドウバースES大会</td></tr>
    <tr><td >12:00</td><td rowspan="4">鐵道学各論</td><td rowspan="2">ぬいぐるみ同好会</td></tr>
    <tr><td >13:00</td><td></td><td></td><td></td></tr>
    <tr><td >14:00</td><td colspan="2" rowspan="4">四条大運動会</td><td></td><td></td><td></td></tr>
    <tr><td >15:00</td><td rowspan="2">浄水器販売員VS京大生</td><td colspan="2">無限ランダムウォーク</td></tr>
    <tr><td >16:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >17:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >18:00</td><td rowspan="6">鉄扉コンパ</td><td rowspan="3">鰹の藁焼き</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >19:00</td><td></td><td rowspan="3">結婚式</td><td rowspan="2">赤ちゃんコンパ</td><td></td><td></td></tr>
    <tr><td >20:00</td><td rowspan="4">第２回　くまスマSP</td><td rowspan="3">TRPG会</td><td>飛べない豚はただの豚だ</td></tr>
    <tr><td >21:00</td><td rowspan="3">数独</td><td></td><td></td></tr>
    <tr><td >22:00</td><td></td><td></td><td></td></tr>
    <tr><td >23:00</td><td colspan="4">つかもとゆうた</td></tr>
   </table><br>
    </div>
    
  　<div class="table-responsive">
    <h2 id="1129"><font color="white">１１月２９日(月)</font></h2>
    <table class="text-nowrap" border="1">
     <tr><th colspan="9">11月29日(月)</th></td>
    </tr><br>
    <tr><td >0:00</td><td colspan="3">クマスマSP</td><td colspan="3" rowspan="2">鉄扉コンパ</td><td></td></tr>
    <tr><td >1:00</td><td></td><td></td><td></td><td></td><td</td><td</td><td</td></tr>
    <tr><td >2:00</td><td></td><td></td><td></td><td></td><td></td><td</td><td></td><td></td></tr>
    <tr><td >3:00</td><td></td><td></td><td></td><td></td><td></td><td</td><td></td><td></td></tr>
    <tr><td >4:00</td><td></td><td></td><td></td><td></td><td></td><td</td><td></td><td></td></tr>
    <tr><td >5:00</td><td></td><td></td><td></td><td></td><td></td><td</td><td></td><td></td></tr>
    <tr><td >6:00</td><td></td><td></td><td></td><td></td><td></td><td</td><td></td><td></td></tr>
    <tr><td >7:00</td><td></td><td></td><td></td><td></td><td></td><td</td><td></td><td></td></tr>
    <tr><td >8:00</td><td></td><td></td><td></td><td></td><td></td><td</td><td></td><td></td></tr>
    <tr><td >9:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td</td></tr>
    <tr><td >10:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td</td></tr>
    <tr><td >11:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td</td></tr>
    <tr><td >12:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td</td></tr>
    <tr><td >13:00</td><td>集合</td><td colspan="2" rowspan="3">きき熊野水</td><td colspan="2" rowspan="3">ガリ版刷り</td><td colspan="2" rowspan="2">ジャンカラ占拠</td></tr>
    <tr><td >14:00</td><td></td></tr>
    <tr><td>15:00</td><td></td><td></td><td></td></tr>
    <tr><td >16:00</td><td colspan="2" rowspan="2">至近距離双眼鏡物当てバトル</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >17:00</td><td></td><td></td><td></td><td></td><td rowspan="7">少女歌劇レビュースタァライト</td></tr>
    <tr><td >18:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >19:00</td><td rowspan="4">吉田山かくれんぼ</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >20:00</td><td rowspan="4">くまの湯</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >21:00</td><td rowspan="2">コール＆レスポンス</td><td>百万遍牛丼RTA</td><td>入れ替わってる！？</td><td>蘇ったプリーグ</td></tr>
    <tr><td >22:00</td><td colspan="3" rowspan="2">Did you kill it?</td></tr>
    <tr><td >23:00</td><td>ケーキコンパ</td><td></td></tr>
   </table><br>
    </div>
    

   <div class="table-responsive">
    <h2 id="1130"><font color="white">１１月３０日(火)</font></h2>
    <table class="text-nowrap" border="1">
     <tr><th colspan="9">11月30日(火)</th></td>
    </tr><br>
    <tr><td >0:00</td><td>少女歌劇レビュースタァライト</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >1:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >2:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >3:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >4:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >5:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >6:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >7:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >8:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >9:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >10:00</td><td colspan="2" rowspan="3">ファイナルファンタジー７上映会</td><td></td><td></td><td></td><td></td><td></td><td rowspan="14">新興宗教ラリー</td></tr>
    <tr><td >11:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >12:00</td><td></td><td colspan="2" rowspan="2">小林スマホ買う</td><td></td><td></td></tr>
    <tr><td >13:00</td><td colspan="3">AB棟間綱引き</td><td colspan="2" rowspan="2">洛中基盤の目すごろく</td></tr>
    <tr><td >14:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >15:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >16:00</td><td colspan="3" rowspan="4">熊野音楽遊戯会</td><td colspan="2" rowspan="3">KUMAN</td><td></td><td></td></tr>
    <tr><td >17:00</td><td></td><td></td></tr>
    <tr><td >18:00</td><td rowspan="4">ミリしら布教会</td><td></td></tr>
    <tr><td >19:00</td><td rowspan="2">パチンコ</td><td rowspan="2">交換</td><td></td></tr>
    <tr><td >20:00</td><td></td><td></td><td></td><td rowspan="4">くまの湯</td></tr>
    <tr><td >21:00</td><td rowspan="2">ハロプロコンパ</td><td rowspan="2">第２回キャンパスオリエンテーション</td><td rowspan="3">クッキー☆コンパ</td><td rowspan="3">自治</td><td rowspan="3">追悼V６</td></tr>
    <tr><td >22:00</td><td rowspan="2">熊野寮粉砕</td></tr>
    <tr><td >23:00</td><td colspan="2">PUIPUIモルカー上映会</td></tr>
   </table><br>
   </div>
    
    
    <div class="table-responsive">
    <h2 id="1201"><font color="white">１２月１日(水)</font></h2>
    <table class="text-nowrap" border="1">
     <tr><th colspan="9">12月1日(水)</th></td>
    </tr><br>
    <tr><td >0:00</td><td rowspan="10">新興宗教ラリー</td><td colspan="3">三里塚闘争DVD上映会</td><td></td><td><td></td></td><td rowspan="21">自治</td></tr>
    <tr><td >1:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >2:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >3:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >4:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >5:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >6:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >7:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >8:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >9:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >10:00</td><td></td><td></td><td></td><td colspan="2" rowspan="6">焼き畑</td><td></td><td></td></tr>
    <tr><td >11:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >12:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >13:00</td><td></td><td colspan="2" rowspan="6">スポーツ大会</td><td colspan="2" rowspan="2">ドッグフード早食い対決</td></tr>
    <tr><td >14:00</td><td></td></tr>
    <tr><td>15:00</td><td></td><td></td><td rowspan="9">足湯を作ろう</td></tr>
    <tr><td >16:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >17:00</td><td rowspan="2">ビジネス語・ゲバルト語検定</td><td></td><td></td><td></td></tr>
    <tr><td >18:00</td><td rowspan="2">育毛脱毛体験</td><td rowspan="5">恋アス上映会</td><td></td></tr>
    <tr><td >19:00</td><td>マイナンバーヌメロン</td><td rowspan="2">速記・プログラミング大会</td><td rowspan="2">朗読会</td><td rowspan="5">中核的交流施設熊野倶楽部</td></tr>
    <tr><td >20:00</td><td></td><td></td></tr>
    <tr><td >21:00</td><td rowspan="2">ハマグリのガソリン焼き</td><td colspan="2" rowspan="3">安部公房コンパ</td><td rowspan="3">Bumpコンパ</td><td>ソビエト戦争映画１５耐久上映</td></tr>
    <tr><td >22:00</td><td></td></tr>
    <tr><td >23:00</td><td></td><td></td><td></td></tr>
   </table><br>
    </div>
    
 
  　　<div class="table-responsive">
    <h2 id="1202"><font color="white">１２月２日(木)</font></h2>
    <table class="text-nowrap" border="1">
     <tr><th colspan="11">12月2日(木)</th></td>
    </tr><br>
    <tr><td >0:00</td><td colspan="3" rowspan="2">夢を捨て去る像</td><td rowspan="6">中核的交流施設熊野倶楽部</td><td rowspan="13">無限ランダムウォーク</td><td></td><td></td><td rowspan="24"><p>小出休み無し</p><p>9:00~16:00 釣りプロ小出の釣り教室</p><p>17:00~18:00 小出しまわたり</p><p>18:00~20:00 対小出大喜利選挙権</p><p>20:00~22:00 小出を囲う会</p><p>22:00~24:00 小出外企画</p></td><td rowspan="10">足湯を作ろう</td></tr>
    <tr><td >1:00</td><td></td><td></td></tr>
    <tr><td >2:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >3:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >4:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >5:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >6:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >7:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >8:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >9:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >10:00</td><td colspan="3" rowspan="3">みかん祭り</td><td rowspan="5">衣笠解放区</td><td></td><td></td><td></td></tr>
    <tr><td >11:00</td><td></td><td></td><td></td></tr>
    <tr><td >12:00</td><td rowspan="3">食べるの遅い人コンパ</td><td>食べるの早い人コンパ</td><td></td></tr>
    <tr><td >13:00</td><td rowspan="2" colspan="2">バカ短歌会</td><td rowspan="2">市バス乗り継ぎ</td><td></td><td></td><td></td></tr>
    <tr><td >14:00</td><td></td><td></td><td></td></tr>
    <tr><td >15:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >16:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td rowspan="8">24時間はかれ</td></tr>
    <tr><td >17:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >18:00</td><td rowspan="4">巨大折り紙</td><td rowspan="2">ヴィンテージを作ろう</td><td rowspan="3">ヒーリングアニメ上映会</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >19:00</td><td rowspan="3">全体</td><td rowspan="3">斉藤幸平ゼミと団結</td><td></td><td></td></tr>
    <tr><td >20:00</td><td rowspan="2">親の学歴選手権</td><td rowspan="2">模擬団交</td><td></td></tr>
    <tr><td >21:00</td><td rowspan="3">千葉県民コンパ</td><td rowspan="2">異世界居酒屋「のぶ」コンパ</td></tr>
    <tr><td >22:00</td><td rowspan="2">〇〇派と見るワンピース</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >23:00</td><td>闇鍋・光鍋</td><td></td><td></td><td></td><td></td></tr>
   </table><br>
    </div>


　　　<div class="table-responsive">
    <h2 id="1203"><font color="white">１２月３日(金)</font></h2>
    <table class="text-nowrap" border="1">
     <tr><th colspan="6">12月3日(金)</th></td>
    </tr><br>
    <tr><td >0:00</td><td></td><td></td><td></td><td></td><td rowspan="17">24時間はかれ</td></tr>
    <tr><td >1:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >2:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >3:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >4:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >5:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >6:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >7:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >8:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >9:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >10:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >11:00</td><td colspan="3" rowspan="7">寮祭ライブ@音楽室</td></tr>
    <tr><td >12:00</td><td rowspan="2">ダサい食事会<p>ダサい食事会</p></td></tr>
    <tr><td >13:00</td></tr>
    <tr><td >14:00</td><td></td></tr>
    <tr><td >15:00</td><td></td></tr>
    <tr><td >16:00</td><td></td></tr>
    <tr><td >17:00</td><td></td><td></td></tr>
    <tr><td >18:00</td><td colspan="4" rowspan="9">全寮コンパ<p>女児コンパ、みんなのうぇぶて、矛盾RTA</p><p>なぜ人間は主語を大きくするのか、自首、うちわ職人</p><p>Ng測れ（発表）、寮食クイズ（発表）、利き水２</p><p>☆ファミマと連帯☆</p><p>山下追いコン・おつコン、熊野フォトコンテスト</p><p>シャンパンタワー、俺たちのファーストテイク、スマホ捜索</p></td><td></td></tr>
    <tr><td >19:00</td><td></td></tr>
    <tr><td >20:00</td><td></td></tr>
    <tr><td >21:00</td><td rowspan="3"><p>耐久カタン</p><p>耐久ドミニオン</p><p>無限ポテト</p></td></tr>
    <tr><td >22:00</td></tr>
    <tr><td >23:00</td></tr>
   </table><br>
    </div>


　　　<div class="table-responsive">
    <h2 id="1204"><font color="white">１２月４日(土)</font></h2>
    <table class="text-nowrap" border="1">
     <tr><th colspan="7">12月4日(土)</th></td>
    </tr><br>
    <tr><td >0:00</td><td colspan="3" rowspan="5"><p>耐久カタン</p><p>耐久ドミニオン</p><p>無限ポテト</p></td><td></td><td></td><td></td></tr>
    <tr><td >1:00</td><td></td><td></td><td></td></tr>
    <tr><td >2:00</td><td></td><td></td><td></td></tr>
    <tr><td >3:00</td><td></td><td></td><td></td></tr>
    <tr><td >4:00</td><td></td><td></td><td></td></tr>
    <tr><td >5:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >6:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >7:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >8:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >9:00</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >10:00</td><td>学校へ行こう@熊野寮</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >11:00</td><td colspan="2" rowspan="6">寮祭ライブ@食堂</td><td colspan="3" rowspan="3">鴨川いかだレース</td><td rowspan="2">鴨川砂金取り</td></tr>
    <tr><td >12:00</td></tr>
    <tr><td >13:00</td><td></td></tr>
    <tr><td >14:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >15:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >16:00</td><td></td><td></td><td rowspan="4">宝塚メイク</td><td></td></tr>
    <tr><td >17:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >18:00</td><td></td><td></td><td></td><td></td><td rowspan="4">他人任せ回転ずし</td></tr>
    <tr><td >19:00</td><td colspan="3">京都駅大階段グリコ</td><td>日体大コール</td></tr>
    <tr><td >20:00</td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td >21:00</td><td rowspan="3">テラフォ</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >22:00</td><td rowspan="2" colspan="2">LAMUvs成城石井コンパ</td><td rowspan="2" colspan="2">スピッツコンパ</td><td rowspan="2">自粛</td></tr>
    <tr><td >23:00</td></tr>
   </table><br>
    </div>
    

　　　<div class="table-responsive">
    <h2 id="1205"><font color="white">１２月５日(日)</font></h2>
    <table class="text-nowrap" border="1">
     <tr><th colspan="6">12月5日(日)</th></td>
    </tr><br>
    <tr><td >0:00</td><td></td><td></td><td rowspan="13">Film fair(映画祭)</td><td rowspan="2">自粛</td><td>ムーンショット目標</td></tr>
    <tr><td >1:00</td><td></td><td></td><td></td></tr>
    <tr><td >2:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >3:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >4:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >5:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >6:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >7:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >8:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >9:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >10:00</td><td></td><td></td><td></td><td></td></tr>
    <tr><td >11:00</td><td rowspan="9">寮祭ライブ@食堂</td><td rowspan="3">crepes shop</td><td rowspan="2">樹木観察会</td><td rowspan="2">アビスめし</td></tr>
    <tr><td >12:00</td></tr>
    <tr><td >13:00</td><td rowspan="5">占いvs占い</td><td></td><td></td></tr>
    <tr><td >14:00</td><td></td><td></td><td></td></tr>
    <tr><td >15:00</td><td></td><td></td><td></td></tr>
    <tr><td >16:00</td><td></td><td></td><td></td></tr>
    <tr><td >17:00</td><td></td><td></td><td></td></tr>
    <tr><td >18:00</td><td></td><td></td><td rowspan="4">金融資本家コンパ</td><td></td></tr>
    <tr><td >19:00</td><td></td><td></td><td></td></tr>
    <tr><td >20:00</td><td colspan="3" rowspan="4">ファイヤーストーム</td><td>合唱コンクール</td></tr>
    <tr><td >21:00</td><td></td></tr>
    <tr><td >22:00</td><td></td><td></td></tr>
    <tr><td >23:00</td><td></td><td></td></tr>
   </table><br>
    </div>

   <div class="table-responsive">
    <h2 id="always"><font color="white">常設イベント</font></h2>
     <table class="text-nowrap">
     <tr><th colspan="6">常設イベント</th></td>
    </tr><br>
    <tr><td></td><td>あたたまり屋</td>　<td>BarKUMA</td> <td>承認欲求を満たす</td>　<td>平安湯と連帯</td>　<td>喫煙可能店マップ</td></tr>
    <tr><td></td><td>追憶</td>　<td>民青池を見ない会</td>　<td>スタンプチャット</td>　<td>日焼けマシン</td>　<td>ドレッシング祭り</td></tr>　　
    <tr><td></td><td>A4談話室に来よう！</td>　<td>左　</td><td>全体</td>　<td>小出募金</td> <td>三里塚野菜市</td></tr>　
    <tr><td></td><td>くまけん・こいけん</td>　<td>ベスト外歌選手権</td>　<td>安波休みな</td> <td>小出どっきり</td>　<td>寮生シャッフル</td></tr>　
    <tr><td></td><td>公安のスパイを探せ生ハム原木</td>　<td>お手軽に神になろう</td>　<td>手動販売人</td>　<td>TOEIC団体受験★９００突破チャレンジ</td><td>祝日制定</td></tr>　
    <tr><td></td><td>推しを推そう☆</td>　<td>KUMANO ADVENTCALENDER</td>　<td>ドキドキ！シール集め</td>　<td>謎解き</td> <td>人類猫化計画</td></tr>
    <tr><td></td><td>QWOPトライアスロン</td>　<td>びゃんの字になって寝よう</td>　<td>ラマダン（煙草)</td>　<td>右</td><td>熊野杯</td></tr>　
    <tr><td></td><td>昼寝</td>　<td>すき家VS松屋VS吉野家VSなか卵</td> <td></td><td></td><td></td></tr>
    </table><br>
    </div>
   
   
   <div class="table-responsive">
    <h2 id="guerrilla"><font color="white">ゲリライベント</font></h2>
     <table class="text-nowrap">
     <tr><th colspan="6">ゲリライベント</th></td>
    </tr><br>
   　<tr><td></td><td>自販機契約</td>　<td>おそうじ</td>　<td>SDGs</td>　<td>シシ・カバ・ブーのシシカバブー</td>　<td>逆ガンジー</td> </tr>
   　<tr><td></td><td>B地下グラフィティー</td>　<td>コール</td>　<td>熊野紅茶館</td>　<td>寮外生フリマ</td>　<td>LAMUコンパ　</td>　 </tr>
   　<tr><td></td><td>おでかけ</td>　<td>とけいだいせんきょ</td>　<td>進次郎</td>　<td>買い出し</td>　<td>無限BBQ</td>　 </tr>
   　<tr><td></td><td>コガチを忘れない</td>　<td>握りつぶす</td>　　<td>団血！</td>　<td>エントリーシートを書く</td>　<td>BLACKPINKになる　</td>　 </tr>
   　<tr><td></td>　<td>ぼくらのあいぞめ「藍」</td>　<td>テアトルKUMANO</td>　<td>おかえり</td>　<td>逆転裁判</td>　<td>クラファン結果発表！！　</td>　 </tr>
   　<tr><td></td>　<td>チャンダー逆張り</td>　<td>ルンバ放牧</td>　<td>写ルンです</td>　<td>SSKにスマホを捨てさせる</td>　<td>チャンダーランチで得するまでナン食べる　</td>　 </tr>
   　<tr><td></td><td>居酒屋こたつ</td>　<td>共産カラオケ</td>　<td>京都大学アイマス学部</td>　<td>斎藤幸平ゼミと団結</td>　<td></td>　 </tr>
   　</table><br>
    </div>
   
   
   
   
   
   
   
   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
    
    
    
    
    
    
    
    
    
    
    </div>
  </section><!-- End resume Section -->
  
  
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
       <div class="section-title">
        <h2>お知らせ</h2>
        <p>実行委員会からのお知らせ・コラム</p>    
       </div>
       <div class="row">
       　<p><a href="1131">企画責から</a></p>
        <p><a href="1126">web責から</a></p>
        <p><a href="1130">会計から</a></p>
        <p><a href="1125">過去の寮祭参加者から</a></p>
        <p><a href="1124">時計台占拠体験記</a></p>
       </div>
      
      
      
      <div class="section-title">
        <h2>概要</h2>
        <p>寮祭とは</p>
     </div>
       <div class="row">
       <a>毎年冬に行われる京大カオスの祭典、それが熊野寮祭。今年は11/26〜12/5に開催！そんな学生の自由とカオスを多くの人に知ってもらいたいです。今年の熊野寮祭は熊野寮外部の人も巻き込んでさらに盛り上げていきたいと考えています。多くの人と熊野寮祭を通じて交流したいと考えているので皆さんぜひご覧ください。</a>
       <p><a href="1127">2019年寮祭実行委員長から</a></p>
       <p><a href="1128">2020年寮祭実行委員長から</a></p>
       <p><a href="1129">2021年寮祭実行委員長から</a></p>
       <a>お問い合わせは掲示板まで！！
      </div>       　　
　　　
     
       <div class="section-title">
        <h2>概要</h2>
        <p>寮祭実について</p>  
       </div>
       　<div class="row">
        <a>熊野寮祭は新入寮生によって構成される寮祭実行委員が運営主体となります。広告回収やパンフレット作成などの仕事を分担して担って進め、みんなで決めることはみんなで決めています。</a>
       　</div>
      
      
      
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>スポンサー</h2>
        <p>熊野寮祭２０２１を支援してくださった皆様（作成中）</p>
      </div>

        <div class="col-lg-8">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src="static/img/chander.jpg">
          <div class="card-body">
            <h4 class="card-title">CHANDER</h4>
            <a href="http://chander-kyoto.com/"  class="list-group-item">公式サイトはこちら</a>
            <a class="list-group-item">住所：京都府京都市左京区聖護院山王町43-2 パレステート日生ビル B1F</a>
          </div>
        </div>
        </div>
    
        <div class="col-lg-8">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src="">
          <div class="card-body">
            <h4 class="card-title">吉田チキン</h4>
            <a href="https://twitter.com/yosidachicken1"  class="list-group-item">公式Twitterはこちら</a>
            <a class="list-group-item">住所：京都府 京都市左京区吉田本町26</a>
          </div>
        </div>
        </div>
    
        
    
    
    
    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
   
    <div class="container">
      
      <div class="section-title">
        <h2>掲示板</h2>
        <p>意見、、要望、雑談なんでもOK</p>
       <p><a href="{% url 'create' %}">新規投稿はこちらから（最初の欄にはタイトルまたはニックネームをご記入ください）</a></p>
    </div>
    
      
      
    </div>
  
    <div class="container">
     <div class="section-title">
      <h2>投稿</h2>
      <p>投稿一覧</p>
     </div>
       {% block main %}
        <p>※コンテンツがありません。</p>
        {% endblock %}
    </div>
  
  </section><!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>  
 <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>