{% extends "index.html" %}

{% block main %}
    {% for post in object_list %}
    <li><a><p><font color="#35e888">タイトルまたはニックネーム</font></p>
    <p>{{ post.title}}({{post.category}})</p>
    <p><font color="#35e888">本文</font></p>
    <p>{{post.body}}</p></a></li>
    <br><br>
    {% endfor %}
{% endblock %}




{% block content_block %}


 <h2 id="1126p">１１月２６日の企画</h2>
 {%for pro in tag_list|slice:"200:217" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}


 <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    



　<h2 id="1127p">１１月２７日の企画</h2>
　{%for pro in tag_list|slice:"217:238" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
    
   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
 
 
　
　<h2 id="1128p">１１月２８日の企画</h2>
　　{%for pro in tag_list|slice:"238:258" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
     <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
　
　
　<h2 id="1129p">１１月２９日の企画</h2>
　{%for pro in tag_list|slice:"258:" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
     {% endfor %}
  {%for pro in tag_list|slice:":9" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
     {% endfor %}
     
   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
　
　
　<h2 id="1130p">１１月３０日の企画</h2>
　　{%for pro in tag_list|slice:"9:28" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
　

　<h2 id="1201p">１２月１日の企画</h2>
　{%for pro in tag_list|slice:"28:45" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
  
   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
　

　<h2 id="1202p">１２月２日の企画</h2>
{%for pro in tag_list|slice:"45:73" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
　

　<h2 id="1203p">１２月３日の企画</h2>
　{%for pro in tag_list|slice:"73:96" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>



　<h2 id="1204p">１２月４日の企画</h2>
　{%for pro in tag_list|slice:"96:112" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
　

　<h2 id="1205p">１２月５日の企画</h2>
　{%for pro in tag_list|slice:"112:123" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
　
     <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
　

　<h2 id="alwaysp">恒常企画</h2>
　
　 {%for pro in tag_list|slice:"123:165" %}
   <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
     {% endfor %}
   
    <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>


 <h2 id="guerrillap">ゲリラ企画</h2>

{%for pro in tag_list|slice:"165:200" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}





   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
    


{% endblock %}