{% extends "index.html" %}

{% block main %}
    {% for post in object_list %}
    <li><a><p><font color="#35e888">タイトルまたはニックネーム</font></p>
    <p>{{ post.title}}({{post.category}})</p>
    <p><font color="#35e888">本文</font></p>
    <p>{{post.body}}</p></a></li>
    <br><br>
    {% endfor %}
{% endblock %}




{% block content_block %}


 <h2 id="1126p">１１月２６日の企画</h2>
 {%for pro in tag_list|slice:"21:36" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
 {%for pro in tag_list|slice:"43:44" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}

 <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    

　<h2 id="1127p">１１月２７日の企画</h2>
　{%for pro in tag_list|slice:"79:80" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
    
    
{%for pro in tag_list|slice:"116:136" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
 
 
　<h2 id="1128p">１１月２８日の企画</h2>
　　{%for pro in tag_list|slice:"80:100" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
     <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
　
　
　<h2 id="1129p">１１月２９日の企画</h2>
　{%for pro in tag_list|slice:"36:43" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
     {% endfor %}
     
  {%for pro in tag_list|slice:"44:54" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
     {% endfor %}
   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
　
　
　<h2 id="1130p">１１月３０日の企画</h2>
　　{%for pro in tag_list|slice:":18" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
　

　<h2 id="1201p">１２月１日の企画</h2>
　{%for pro in tag_list|slice:"136:152" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
  {%for pro in tag_list|slice:"213:214" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
　

　<h2 id="1202p">１２月２日の企画</h2>
　{%for pro in tag_list|slice:"152:180" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
　

　<h2 id="1203p">１２月３日の企画</h2>
　{%for pro in tag_list|slice:"180:202" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>



　<h2 id="1204p">１２月４日の企画</h2>
　{%for pro in tag_list|slice:"100:116" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
　

　<h2 id="1205p">１２月５日の企画</h2>
　{%for pro in tag_list|slice:"211:212" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
　{%for pro in tag_list|slice:"18:21" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}

  {%for pro in tag_list|slice:"54:61" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
     {% endfor %}
     <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
　

　<h2 id="alwaysp">恒常企画</h2>
　
　 {%for pro in tag_list|slice:"61:79" %}
   <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
     {% endfor %}
     
    {%for pro in tag_list|slice:"202:211" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
    {%for pro in tag_list|slice:"248:" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
    <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>


 <h2 id="guerrillap">ゲリラ企画</h2>

{%for pro in tag_list|slice:"212:213" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
{%for pro in tag_list|slice:"214:248" %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image}} alt="イメージはありません">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}




   <div>
   <a href="#s_top">このページの先頭に戻る</a>
   </div>
    
    


{% endblock %}