{% extends "index.html" %}

{% block main %}
    {% for post in object_list %}
    <li><a><p><font color="#35e888">タイトルまたはニックネーム</font></p>
    <p>{{ post.title}}({{post.category}})</p>
    <p><font color="#35e888">本文</font></p>
    <p>{{post.body}}</p></a></li>
    <br><br>
    {% endfor %}
{% endblock %}




{% block content_block %}
    {%for pro in tag_list %}
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3">
          <img class="card-img-top" src={{pro.image.url}} alt="フットサルのイメージ画像">
          <div class="card-body">
            <h4 class="card-title">{{pro.name}}</h4>
            <p class="card-text">{{pro.body}}<p>場所：{{pro.place}}</p></p>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}